<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670583968577-5fnnqhd36cafff2mlassrt13tfbts61v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670583968577-5fnnqhd36cafff2mlassrt13tfbts61v</string>
	<key>API_KEY</key>
	<string>AIzaSyAC-GxklpEKbUNhufjYkp5v4r5NA__fxDg</string>
	<key>GCM_SENDER_ID</key>
	<string>670583968577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rninthirtydays</string>
	<key>PROJECT_ID</key>
	<string>todo-99bb7</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-99bb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670583968577:ios:d125fda20c9cb9a9a087c0</string>
</dict>
</plist>